@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {font-family: 'Open Sans', sans-serif;	font-weight: 400;	color:#6E6C67;	font-size: 15px; }
ul,li,ol,p {list-style: none;	margin: 0;	padding: 0;}
p{line-height: 30px}
a {color: #202124;	text-decoration: none;-webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;}
img {	max-width: 100%;}
a:hover {	color: #AEAEAE;	text-decoration: none;}
h1,h2,h3,h4,h5,h6 {	font-weight: 600;	margin: 0; }
.mt-60{margin-top: 60px}
.btn-primary {-webkit-transition: all .5s ease-in-out;padding: 10px 30px;    -o-transition: all .5s ease-in-out;    -moz-transition: all .5s ease-in-out;    ransition: all .5s ease-in-out;    background: #249782;    border: none;   }
.btn-primary:hover{background: #9B9B9B;    }
.dropdown-item.active, .dropdown-item:active,.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #9B9B9B;
    border-color: #9B9B9B;
    box-shadow: none;
}
 
section{padding: 50px 0}
/*Header Css*/
.navbar-light .navbar-nav .nav-link{ font-size:18px ;font-weight:600 }
.navbar-light .navbar-nav li.nav-item {
    margin-left: 35px;
}
.navbar-light .navbar-nav li.nav-item a.btn{color: #fff; padding: 10px 25px}
/*footer Css*/
footer{background: #404040; padding: 40px 0 20px; color: #fff}
footer a,.bottofooter a{color: #fff; font-size: 18px}
footer h5{ font-size:24px; margin-bottom:15px }
footer li{ margin:5px 0 }
.bottofooter{background: #404040; color: #fff; border-top: 1px solid #fff; padding:15px 0 }
#eaperience .col-md-6:last-child {
    display: flex;
    align-items: center;
}
footer .col-md-3:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    background: #fff;
    top: 30px;
    left: -40px;
}footer .col-md-3{position: relative;}
footer .col-md-3:first-child{padding-right: 60px}
footer .col-md-3:first-child:before{display: none;}
/*footer  Css end*/
.form-control {
    height: 50px; border-color: #404040;
}
.form-group {
    margin-bottom: 15px;
}
input .form-check [type="checkbox"] {
    height: 24px;
    width: 24px;
    background: transparent !important;
}

#appointy_outer{background: #F5F5F5}
.titleBar {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
}
.titleBar h2{font-weight: 700; color: #249782; font-size: 30px}
.eventBox {
    border: 1px solid #000;
    border-radius: 8px; background: #259883;
    padding: 12px 12px 0; position: relative; margin-bottom: 20px;
}
.eventBox *{position: relative; z-index: 9}
.eventBox h4 {
    font-size: 20px;
    color: #000;
    margin-top: 20px;
}
.eventBox p {
    color: #9B9B9B;
    font-size: 14px;
}
a.viewLink {
    color: #259883;
    font-size: 13px;
}
.actionBox {
    display: flex;
    margin: 0 -12px 0px;
}
.actionBox a {
    width: 50%; padding: 12px;
    border-radius: 0 0 0 6px; border: none; margin-top: 20px;
}
.actionBox a:last-child {
    border-radius: 0 0 6px 0;
}
.actionBox a.btn.btn-secondary {
    background: rgba(37, 152, 131, 0.1);
    color: #259883;
}
.eventBox:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 8px ;
    z-index: -0;
}
.eventBox.active:after{ border-radius: 8px 150px 8px 8px;  }
.eventBox.active{border-color:#259883;}
.searchPanel {
    position: relative;
}
.searchPanel button.btn {
    position: absolute;
    right: 0;
    top: 8px;
    opacity: .5;
}
span.userName {
    background: #E9F5F3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #000;
    margin-right: 10px;
}
.userInfo p {
    line-height: 18px;
    font-size: 15px;
}
.card-header {
    background: transparent;
    padding-top: 20px;border-bottom: 1px solid #404040; 
}
.card {
    border-radius: 10px;
}
#myTab {
    border: none;
}
#reportrange{margin: 0}
.nav-tabs .nav-link{font-size: 16px; color: #000}
.nav-tabs .nav-link.active{background: #259883; color: #fff}
.eventNav a {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    text-align: center;
    margin-right: 13px;

}.eventNav a.active:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #249782;
    bottom: -4px;
    left: 0;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
 .form-check [type="checkbox"]:not(:checked),  .form-check [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
 .form-check [type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
 .form-check [type="checkbox"] + label:before,  .form-check [type="checkbox"]:not(.filled-in) + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #259883;
    border-radius: 1px;
    margin-top: 2px;
    transition: 0.2s;
}
 .form-check [type="checkbox"].filled-in + label:before,  .form-check [type="checkbox"].filled-in + label:after {
    content: "";
    left: 0;
    position: absolute;
    transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
    z-index: 1;
}
 .form-check [type="checkbox"].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
}
 .form-check [type="checkbox"].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #259883;
    top: 0px;
    z-index: 0;
}
 .form-check [type="checkbox"].filled-in:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #259883 !important;
    border-bottom: 2px solid #259883 !important;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
 .form-check [type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;    background: #259883;
    height: 20px;
    border: 2px solid #259883;
    z-index: 0;
}
.form-check-input:checked{background-color: #249782;
    border-color: #249782;}
.eventBox.active  .form-check [type="checkbox"].filled-in:checked + label:after{border-color:#fff }
  .form-check [type="checkbox"].filled-in:checked + label:before{  border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;}
#v-pills-sales .row {
    direction: rtl;
}
ul.featureList {
    text-align: left;
}

  .form-check [type="checkbox"] + label{    height: 17px;     padding-left: 24px;}
#spFeature .bannerInfo {
    font-size: 13px;
}
#spFeature .bannerMeta.topmeta {
    left: 0;
    right: auto;
    top: 20px;
    text-align: left;
}
#spFeature .bannerMeta.bottommeta {
    right: 0;
    bottom: 20px;
    text-align: left;
}
#eaperience .bannerMeta.topmeta {
    left: 150px;
    right: auto;
    text-align: left;
}
#eaperience .bannerMeta.bottommeta {
    right: 0;
  left: auto;
    text-align: left;
}
.text-primary{color: #249782 !important;}
.bannerMeta .text-primary{ font-weight:600 }
.dropdown-menu p {
    margin: 15px 0;
}
.cover_img {
    position: relative; height: 150px;
   background: rgb(71,91,235);
background: linear-gradient(94deg, rgba(71,91,235,1) 0%, rgba(105,121,244,1) 100%);
}
.page_title_bar {
  background: #e8effd;
  padding: 20px 0;
}
.page_title_bar h2 {
  margin-bottom: 15px;
}

#mainContainer{ padding:50px 0 }
.daterange_outer li{list-style: none; padding: 0}
.eventCard .card-body{padding: 30px}
.br-bottom {    border-bottom: 1px solid #ccc;}
.Duration_outer { padding:30px 0; }
ul.daterangeEventList li {    display: flex;    align-items: center;}
ul.daterangeEventList li .form-control {
    max-width: 220px; font-weight: 14px;
    margin-right: 10px;
}.bootstrap-select>.dropdown-toggle {
    background: transparent;
    border: 1px solid #000; height: 50px;
    padding: 10px 15px;
}
.w-80{max-width: 80px !important}
.daterangeEventList li{ margin-bottom:15px }
#datetimes{display: none;}
.note {
    background: #E8EFFD;
    padding: 20px;
}
#pills-tab {
    margin: 30px 0;
}
.nav-pills .nav-link {
    border: 1px solid #ccc;
    margin-right: 15px;color: #000;
}
.accountSetting .nav-pills .nav-link.active, .accountSetting .nav-pills .show>.nav-link{    border-color: #249782; background: #249782}
div#pills-tabContent {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}#pills-tabContent .dropdown.bootstrap-select {
    margin: 15px 0;
    max-width: 400px;
    width: 100%;
}.workingHr {
    background: #f4f5f5;
    padding: 20px;
    border-radius: 10px;
}
.workingHr h5 {
    color: #249782;
    font-size: 19px;
    margin: 0 0 20px;
}button.btn.weekappend {
    background: #eee;
    width: 40px;
    padding: 5px;
    height: 40px;
    font-size: 13px;
    line-height: 35px;
}
.copyBtn > .btn {
    width: 40px;
    padding: 6px;
    height: 40px;
    background: no-repeat;
    color: #666;
}
.copyBtn ul.dropdown-menu.show {
    padding: 8px;
}
.copyBtn ul.dropdown-menu.show li:first-child{margin-bottom: 10px}
.copyBtn .btn:after {
    display: none;
}
#listView .form-check {
    text-transform: uppercase; padding-left: 10px;
}
.weekappendCont .weekRow {
    margin-top: 10px;
}

.eventTypeBox a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px; margin-bottom: 15px;
}.eventTypeCont {
    margin: 0 10px;
}
.eventTypeCont h4 {
    font-size: 18px;
}
.eventTypeCont h6 {
    font-size: 14px;
}
ul.colorPicker {
    display: flex;
    list-style: none;
}
.colorPicker li{position: relative; font-size: 40px; margin-right: 5px}
.colorPicker li input{position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 9;opacity: 0} 
.red{color: rgb(255, 79, 0)}
.light_pink{color: rgb(255, 117, 142)}
.Magenta{color: rgb(229, 92, 255)}
.voilet{color: rgb(130, 71, 245)}
.blue{color: rgb(0, 153, 255)}
.cyan{color: rgb(10, 232, 240)}
.lime_Green{color: rgb(23, 232, 133)}
.yellow{color: rgb(248, 228, 54)}
.orange{color:rgb(255, 166, 0) }

.setting_panel .dropdown-menu{ width:250px }
span.text-mute {
    font-size: 13px;
    color: #ccc;
}
.setting_panel .dropdown-menu .form-check.form-switch {
    padding: 0 15px;
}
/*.form-check .form-check-input{float: right;}
*/

.searchFilter {
    position: relative;
}
.searchFilter button {
    position: absolute;
    top: 8px;
    right: 10px;
    border: none;
    background: no-repeat;
}
span.userIcon {
    background: #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;margin-right: 15px;
}
.accountDetail {
    padding: 15px 0;
}
.accountDetail .dropdown-toggle:after{display: none;}
span.userIcon,span.accountUserImg {
    background: #eee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
    display: block;
}
span.accountUserImg{display: inline-block;}
.userAccountInfo {
    display: flex;
}
.accountDetail {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.dashboardEventOuter {
    padding: 20px 0;
}
.eventBoxOuter {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;    border-top: 7px solid #006bff;
}
.eventBoxOuter button.btn.dropdown-toggle {
    padding: 0;
}
.eventBoxOuter button.btn.dropdown-toggle:after {
    display: none;
}
.eventBoxOuter h2 {
    font-size: 20px;
}.cardFooter {
    border-top: 1px solid #ccc;
    margin: 10px -15px 0; display: flex; align-items: center; justify-content: space-between;
    padding: 10px 15px 0;
}
.cardFooter a.btn.btn-border {
    padding: 2px 7px;
    font-size: 13px;
    border-radius: 50px;
}
.diviver{position: relative; margin: 10px 0;}
.diviver span:before,.diviver span:after{position: absolute; opacity: .8;
    content: "";
    width: 46%;
    height: 1px;
    background: #fff;
    left: 0;
    top: 10px;
}
.diviver span:after{ left: auto; right: 0; }
.social-login .btn { text-align: center; position: relative;
    width: 100%;
    border-radius: 50px;
    padding: 13px;font-size: 18px;
    font-weight: 700;
}
.social-login .btn img {
    position: absolute;
    width: 30px;
    left: 25px;
    top: 12px;
}
.social-login .btn.facebook {
    background: #006bff; color: #fff;
   
}
.social-login .btn.google {
    background: #fff; color: #dc4e41;
   
}

.fileUploadBtn input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; opacity: 0;
}
.fileUploadBtn{position: relative; border-radius: 30px}
label {    display: block;}
.dropdown.bootstrap-select {
    width: 100% !important;
    max-width: 100%;
}.bootstrap-select>.dropdown-toggle:focus,button:focus,.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
}
label i{font-size: 12px}
.LogoImg {
    border: 1px solid #ccc;
    min-height: 160px;
    border-radius: 10px;
    margin: 15px 0;
}
.form-check-label{display: inline-block;}
.tab-content .form-check .form-check-input {    float: right;}
.form-check.form-switch {    padding-left: 0;}
.accountSetting .nav-pills .nav-link {
    background: #fff;
    margin: 0 0 10px;
}
.userDashboard .dropdown-item{white-space: normal; position: relative;padding-left: 50px;}
.dropdown.userDashboard .dropdown-menu{width: 300px}
.userDashboard .dropdown-item i {
    position: absolute;
    top: 10px; left: 20px;
}
.dropdown-item{font-size: 14px}
.userDashboard .dropdown-item p {
    margin: 0;
    font-size: 13px;
    line-height: 22px;
}

#appointy_outer .dropdown-toggle::after{display: none;}

.eventBox button.btn.dropdown-toggle {
    padding: 0;
}.eventBox >.d-flex {
    z-index: 99;
}
.eventBox .form-check-input {
    float: right;
}.form-switch {
    padding: 0 10px;
}.eventBox .dropdown-menu  a {
    font-size: 14px;
    padding: 4px 10px;
}
.eventBox a i {
    color: #249782;
}.form-check-label{font-size: 14px}
.daterangepicker .ranges li.active {
    background-color: #259883;
    color: #fff;
}
#reportrange .dateBox{background: #ddfef8;
    color: #259883;
    padding: 3px 5px;
    border-radius: 4px;}
.eventBoxAction {
    padding: 0 15px 15px !important;
}
.fileUploadBtn {
    position: relative;
    border-radius: 30px;color: #259883;
    border: 1px solid #259883;
}
.fileUploadBtn input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.btn-link{color: #259883;}
.btn-outline-primary{    color: #259883;
    border-color: #259883;}

.bg-secondary {
    background-color: #259883;
    border-color: #259883;
}
.offcanvas-body .nav-link{color: #fff}





@media (max-width: 1200px){
    #banner h1 {    font-size: 70px;}
    .bannerMeta.bottommeta{bottom: 20px}
}
@media (max-width: 991px){
    .nav-pills .nav-link span{width: 40px; height: 40px; line-height: 17px}
#banner h1 {    font-size: 30px;}
#banner p{font-size: 20px;    font-weight: 300;    line-height: 34px;}
#feature h3{font-size: 20px; margin: 15px 0}
#spFeature .nav-pills {    width: 30%; font-size: 14px}
.nav-pills .nav-link img {
    width: 18px;
}
 .tab-content>.tab-pane {
    display: block;
    opacity: 1;
  }
}
@media (max-width: 768px){
.eventNav a {font-size: 14px;}
.eventNav_outer {    text-align: center !important;}
.eventNav_outer .col-md-4.text-end {    text-align: center !important;    margin-top: 20px;}
#workflows .p-5 {    padding: 10px !important;    font-size: 14px;}
.title h2{font-size: 32px}
#spFeature .nav-pills{width: 100%;margin: 0 0 40px !important; flex-direction: row !important;}
.nav-pills:before{display: none;}
ul.featureList {
    margin-top: 15px;
}
.bottofooter {
    font-size: 14px;
    text-align: center;
}
footer a, .bottofooter a {
    font-size: 14px;
}
.bottofooter .col-md-6.text-end {
    text-align: center !important;
}
#myAccordion {
    margin-top: 20px;
}
.nav-pills .nav-link span{margin-right: 5px}
.nav-pills .nav-link {    padding: 0 8px;}
#spFeature .d-flex.align-items-start {    flex-wrap: wrap;}
}
@media (max-width: 576px){
   .searchPanel {    margin-bottom: 10px;}
   .social_btn {
    flex-wrap: wrap;
} .social_btn a{ width:100%; margin-bottom:5px }
   a.navbar-brand img {    width: 120px;} 
   .navbar-light .navbar-toggler {
    font-size: 12px;
    padding: 4px;
    background: #edf7f5;
    color: #fff;
}section {    padding: 20px 0;}
.titleBar h2{font-size: 20px}
.titleBar{ padding:10px }
span.userName{width: 40px; height: 40px; line-height: 40px}
#eventType .card-header .btn {
    padding: 5px;
}
#eventType .card-header .btn img {
    width: 15px;
}
#eventType .card-header .btn {
    padding: 0px 5px 3px;
}
}